[submodule "top-english-wordlists"]
	path = top-english-wordlists
	url = https://github.com/david47k/top-english-wordlists.git

[submodule "most-common-words-multilingual"]
	path = most-common-words-multilingual
	url = https://github.com/frekwencja/most-common-words-multilingual.git
